<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
    <img src="https://i.ibb.co/1RPBW2T/kindpng-3327708.png" alt="navbar- brand" width="60" height="60">
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <img src="https://i.ibb.co/FHNqY1Z/3d.png" alt="3d" width="60" height="60" >

    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto">
    <li id="home-img" class="nav-item active">
      <%= link_to "/", class: "nav-link" do %>
        <%= image_tag "https://i.ibb.co/JFntz5M/3d-house.png", alt: "Home" %>
      <% end %>
    </li>


        <li class="nav-item">
          <div data-controller="instructions">
            <button data-action="click->instructions#reveal" class="how-it-works-btn btn btn-link" aria-label="How it works">How it</button>

            <div data-instructions-target="revealInstructions" class="d-none instructions-content">
  <%= render "pages/instructions" %>
</div>

          </div>
        </li>


        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>

          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
