<h1>Welcome to AmigoAnalyzer App!</h1>

<p>Welcome to AmigoAnalyzer.Ever wondered just how well you truly know your pals?
  AmigoAnalyzer dives deep into your social connections,
  serving up a hilarious yet revealing snapshot of your friendship.
  From inside jokes to shared adventures, this app measures your camaraderie quotient with accuracy and humor.
  Get ready to laugh, reflect, and maybe even learn a thing or two about your besties with AmigoAnalyzer!
  </p>

<div data-controller="instructions">
<button data-action="click->instructions#reveal" class="btn btn-outline-primary">How it works</button>
<div data-instructions-target="revealInstructions" class="d-none">
  <%= render "instructions" %>
</div>
</div>

<%# this below is button to create group %>
<div data-controller="toggle" class="mt-5">
  <button class="btn btn-outline-primary"
  data-action="click->toggle#fire">Create a Group</button>
  <div data-toggle-target="createGroup" class="d-none">
  <%= simple_form_for(@group) do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
  </div>
<% end %>
</div>
<%# this above is button to create group %>

<% if current_user %>
  <div class="justify-content-center d-flex">
    <ul>
      <% @groups.each do |group| %>
      <li><%= group.name %></li>
      <% group.users.each do |user|%>
      <p>players :<%= user.name %></p>
      <% end %>
      <%= link_to "Start Game", group_games_path(group), data: {turbo_method: :post} %>
      <% end %>
    </ul>
  </div>
<% end %>



<%# ADD topics to game start!!!! _topics.html.erb %>

