<%#
# List of all players(2) in the game in game show page
# A button to start guessing
# After the guess I will be redirected to the game show page
# I will see the number of points that I scored for that guess
# Press the button to move on to the next guess
# The guessing part goes on until I guessed all user questions
# Once every user done the guessing the page will show all user scores
%>


<%# Display list of players %>
<h2>Topic : <%= @game.topic.topic %></h2>
<h2>Players:</h2>

<p> You: <%= @user.game_points(@game)%> points</p>

<% @users.each do |user| %>
  <% if user != current_user %>
  <li> <%= user.name%>: <%=  user.game_points(@game)%> points </li>
  <% end %>
<%end%>


<div>
<% unless @my_set_dial.present? && @my_set_dial.setter_word.present? %>
<%= link_to "Set your dial", new_game_set_dial_path(@game), method: :get %>
<%end %>
</div>

<% if @set_dials.count == @users.count  %>

<%# Button to move to the next guess %>
<% next_guess = current_user.next_dial_id_to_guess(@game)%>
<% if next_guess %>
<%= link_to "Next Guess", new_set_dial_dial_guess_path(next_guess) %>
<%end%>
<br>
<%# display of results %>
<%= render 'pages/results'%>
<%end%>

<%# game over %>
<% if @game.game_finished? %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Final Results
</button>
<%= render 'pages/modal'%>
<% end %>


<% if (@game.set_dials.count == @users.count) && (@game.set_dials[-1].dial_guesses.count == 1)  %>
<%# chatroom %>
  <div class="container chatroom" data-controller="chatroom-subscription"
    data-chatroom-subscription-game-id-value="<%= @game.id %>">
    <h1>#<%= @group.name %></h1>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @group.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@game, @message],
    html: {class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@group.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
  </div>
<% end %>
<%# chatroom %>
