<%#
# List of all players(2) in the game in game show page
# A button to start guessing
# After the guess I will be redirected to the game show page
# I will see the number of points that I scored for that guess
# Press the button to move on to the next guess
# The guessing part goes on until I guessed all user questions
# Once every user done the guessing the page will show all user scores
%>


<%# Display list of players %>
<h2>Topic : <%= @game.topic.topic %></h2>
<h2>Players:</h2>

<p> You: <%= @user.game_points(@game)%> points</p>

<% @users.each do |user| %>
  <% if user != current_user %>
   <li> <%= user.name%>: <%=  user.game_points(@game)%> </li>
  <% end %>
<%end%>


<div>
<% unless @my_set_dial.present? && @my_set_dial.setter_word.present? %>
<%= link_to "Set your dial", new_game_set_dial_path(@game), method: :get %>
<%end %>
</div>


<% if @set_dials.count == @users.count  %>

<%# Button to move to the next guess %>
<% next_guess = current_user.next_dial_id_to_guess(@game)%>
<% if next_guess %>
<%= link_to "Next Guess", new_set_dial_dial_guess_path(next_guess) %>
<%end%>
<br>
<br>

 <h2> Guesses: </h2>
<div class="result-cards">
<%# display of results %>
  <%= render 'pages/results'%>
</div>

<%end%>
