<%#
# List of all players(2) in the game in game show page
# A button to start guessing
# After the guess I will be redirected to the game show page
# I will see the number of points that I scored for that guess
# Press the button to move on to the next guess
# The guessing part goes on until I guessed all user questions
# Once every user done the guessing the page will show all user scores
%>


<%# Display list of players %>
<h1>Topic : <%= @game.topic.topic %></h1>
<h2>Players:</h2>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>


<%= link_to "Set your dial", new_game_set_dial_path(@game), method: :get %>

<%# Button to move to the next guess %>
<% next_guess = current_user.next_dial_id_to_guess(@game)%>
<% if next_guess %>
<%= link_to "Next Guess", new_set_dial_dial_guess_path(next_guess) %>
<%end%>


<%= @set_dials.each do |set_dial| %>
<% set_dial.dial_guesses.all %>
<% end %>
