<p> <%= @topic.topic %> </p>

<h1> Where do you think <%=@setter %> ranks <%= @setter_word %> ?</h1>



<h2> <%= @left %> (0) <--------> (100) <%= @right %> </h2>

<p> Type your dial guess </p>

<%= simple_form_for [@set_dial, @dial_guess] do |f|%>
<% f.input :set_dial, input_html: {value: @set_dial.id}, as: :hidden %>
<% f.input :points, input_html: {value: @points}, as: :hidden%>
<%= f.input :guessed_value %>
<br>
<%= f.submit "Submit" %>
<% end %>
