

<p> <%= @topic.topic %> </p>



<div data-controller="setdial">
<button data-action="click->setdial#set" class="btn btn-outline-primary">Set the dial</button>

<div data-setdial-target="setterValue" class="d-none">
  <h1> <%=@setter_value %> </h1>
</div>

</div>


<h2> <%= @dial.left %> (0) <--------> (100) <%= @dial.right %> </h2>

<p> Type your answer based on the dial place </p>

<%= simple_form_for [@game, @set_dial] do |f| %>
  <% f.input :dial %>
  <%= f.input :setter_word %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
