

<div class="topic-icon">
  <h2></h2>
  <%= image_tag "topics/#{@topic.topic.downcase}.png", class: "topic-image" %>
</div>



<div class="set-dial-container" data-controller="setdial">
  <button data-action="click->setdial#set" class="btn btn-outline-primary">SET</button>
<div class="dial-box">
  <div>
    <h2> <%= @dial.left %></h2>
    <div class="dial-number-left">
      <h3>0</h3>
    </div>
  </div>
  <div>
    <h2><%= @dial.right %></h2>
    <div class="dial-number-right">
      <h3>100</h3>
    </div>
  </div>
</div>
  <div data-setdial-target="setterValue" class="d-none">
    <h1 id="setter-value-number"> <%=@setter_value %> </h1>
  </div>

  <div class='d-none' data-setdial-target='setterWordForm'>


    <%= simple_form_for [@game, @set_dial] do |f| %>
      <%= f.input :dial_id, input_html: {value: @dial.id}, as: :hidden %>
      <%= f.input :setter_value, input_html: {value: @setter_value}, as: :hidden%>
      <%= f.input :setter_word, label: "Your answer based on the number" %>
      <br>
      <%= f.submit "✅", id: "check" do %>
        <%= image_tag "https://i.ibb.co/4WkwDJn/pngwing-com-9.png"%>
      <% end %>
    <% end %>
  </div>

</div>
