

<p> <%= @topic.topic %> </p>



<div data-controller="setdial">
  <button data-action="click->setdial#set" class="btn btn-outline-primary">Set the dial</button>

<h2> <%= @dial.left %> (0)<br><-><br> (100) <%= @dial.right %> </h2>

  <div data-setdial-target="setterValue" class="d-none">
    <h1> <%=@setter_value %> </h1>
  </div>

  <div class='d-none' data-setdial-target='setterWordForm'>

  <p> Type your answer based on the dial place </p>
    <%= simple_form_for [@game, @set_dial] do |f| %>
      <%= f.input :dial_id, input_html: {value: @dial.id}, as: :hidden %>
      <%= f.input :setter_value, input_html: {value: @setter_value}, as: :hidden%>
      <%= f.input :setter_word %>
      <br>
      <%= f.submit "Submit" %>
    <% end %>
  </div>

</div>
